/* Block */
.card {
  text-align: center;
  transition: all .125s;
  transform: scale(1) translateY(0px);
  margin: 5% 15px;
  display: inline-block;

}

/* Elements */
.card__wrapper {
  position: relative;
  background-color: #ffffff;
  color: #383838;
  margin: 0 1rem;
    /* display: inline-block; */
  margin: 5% 15px;

}
.card__wrapper:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 15px;
  right: 15px;
  bottom: 0;
  left: 15px;
  transition: all .125s;
  transform: scale(1) translateY(0px);
}
.card__box {
  margin-top: 25px;
  margin-bottom: 25px;
}
.card__item  {
  margin-top: 20px;
  margin-bottom: 20px;
}
.card__item--small  {
  margin-top: 10px;
  margin-bottom: 10px;
}
.card__feature {
  margin: 0;
}
.card__img {
  display: block;
  width: 100%;
}
.card__header {
  position: relative;
  z-index: 1;
}
.card__title {
  color: #222222;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.25;
}
.card__label {
  color: #cccccc;
  font-family: 'Montserrat', sans-serif;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.card__body {
  font-size: 12px;
  line-height: 1.75;
  font-family: Montserrat, sans-serif;
}

/* Modifiers */
.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card:hover .card__wrapper:after {
  transform: scale(0.95) translateY(10px);
}

