
/* Global styles */

html,body{
	height: 100%;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

a:link {
    text-decoration: none;

} 
a:visited {
    text-decoration: none;

}
a:hover {
    text-decoration: none;

}
a:active {
    text-decoration: none;

}

h1{
    padding-left: 60px;
    padding-right: 60px;
    font-size: 3rem;
    padding-top: 5%;
    margin-top:0px;
    font-family: 'Staatliches', sans-serif;
}

p{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* side nav */
.side-menu {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 60px;
    list-style-type: none;
    background: rgba(255, 255, 255, 0.87);
    overflow: hidden;
    transition: width .5s;
    font-family: 'Staatliches', sans-serif;
  }
  .side-menu i {
    color: orange;
  }
  .side-menu:hover {
    width: 300px;
  }
  
  .side-menu li {
    width: 300px;
  }
  
  .side-menu li i {
    font-size: 1rem;
    margin: 20px 30px 0 22px;
  }
  
  .side-menu li a {
    display: block;
    font-size: .9rem;
    text-decoration: none;
    color: black;
    height: 60px;
  }
  
  .side-menu li a:hover,
  .side-menu li:first-child a {
    background: #14081d;
    color:white;
    display: block;
  }

/* header section */
.header{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100vw;
    justify-content: center;
	align-items: center;
	background: #ffda61;
	font-family: 'Staatliches', sans-serif;
}
.outer{
	display: inline;
	align-items: center;
	position: relative;
}

.container{
	height: 100%;
	perspective: 700px;
	position: relative;
	perspective-origin: 50% 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 400px;
}

.item{
	position: absolute;
	animation-duration: 1.5s;
	animation-fill-mode: backwards;
	animation-timing-function: ease;
	z-index: 100;
	backface-visibility: hidden;
    font-size: 4rem;
    font-weight: 400;
	white-space: nowrap;
	visibility: hidden;
	border-bottom: 3px solid black;
	border-top: 3px solid black;
	transform-style: preserve-3d;
}

.animate{
	visibility: visible;
	animation-name: animate;
}

.inner{
	transform: translateZ(-offset);
	transform-style: preserve-3d;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
} 

@keyframes animate{
	0%{
		transform: rotateX(-90deg) translateZ(offset);
	}
	6% {transform: rotateX(10deg)translateZ(offset);}
	12% {transform: rotateX(-5deg)translateZ(offset);}
	18% {transform: rotateX(1.5deg)translateZ(offset);}
	24% {transform: rotateX(0deg)translateZ(offset);}

	
	82%{transform: rotateX(0deg)translateZ(offset);}
	88%{transform: rotateX(5deg)translateZ(offset);}
	94%{transform: rotateX(-10deg)translateZ(offset);}
	100%{
		transform: rotateX(90deg)translateZ(offset);
	}
}

.static{
    font-size: 3rem;
    margin-bottom: 4rem;
    text-align: center;
}
/* dev section */

#dev-portfolio{
    min-height: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    width: 100vW;
	align-items: center;
    justify-content: center;
    text-align: center;
    
}

#dev-portfolio h1{
    color: #ffda61;
}

.dev-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    list-style-type: none;
    padding-left: 60px;
    padding-right: 60px;
}

.dev-icon {
    width: 80.4px;
    padding-left: 0px;
    margin-top: 10px;
    font-size: 2rem;
    cursor: auto;
}

.dev-list ul{
    padding-left: 0;
}

.dev-list li {
    display: inline-block;
}

.fab, .fas {
    color:white;
    width: 80px;
}

.slick-track{
    min-width: 80vw;
}

.slick-slider{

    min-width: 80vw;
}

.slick-track {
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
}

.slick-slide > div
{
    height: 100%;
}


.slick-dots {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 2rem 0;
    list-style-type: none;
}
.slick-dots li {
	margin: 0 0.25rem;
}

.slick-dots li button::before {
    font-family: slick;
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    content: "";
    text-align: center;
    opacity: 0.25;
    color: rgb(0, 0, 0);
    border: 2px solid #ffda61;
    border-radius: 100%;
    -webkit-font-smoothing: antialiased;
}
.slick-dots button {
	display: block;
	width: 1rem;
	height: 1rem;
	padding: 30 0 0 0;
	border: none;
	border-radius: 100%;
	background-color: #ffda61;		
	text-indent: -9999px;
}

.projects{
justify-content: center;
font-family: 'Staatliches', sans-serif;
}

.project-button{
    background-color: orange;
    color: black;
    font-family: 'Staatliches', sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 20px 10px 20px;
    margin: 3%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

/* .demo{
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
} */

/* music section */
#music-portfolio{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 100vW;
	align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffda61;
}
.music-about{
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 60vw;
    background-color: white;
    padding: 30px;
    box-shadow: black;
    border-radius: 10px;
}
.music-pic{
    display: flex;
    vertical-align: center;
    height: 275px;
    width: 275px;
    border-radius: 100%;
}
.sollabong{
    height: 275px;
    width: 275px;
    border-radius: 100%;  
}
.music-about-right{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: justify;
    margin-left: 60px;
}
.music-about-content_a{
    font-family: 'Montserrat', sans-serif;
}
.music-about-content_b{
    font-family: 'Staatliches', sans-serif;
    font-size: 2rem;
}

.music-about .submit-btn{
    margin-left: 0px;
    padding-left: 30px;
    padding-right: 30px;
}

.portfolio{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 70vw;
    list-style-type: none;
}
.portfolio-img{
    height: 275px;
    width: 275px;
    filter: grayscale(100%);
}

.portfolio-link{
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
}

.img-desc{
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px;
    font-family: 'Staatliches', sans-serif;
}

.portfolio-link :hover{
    filter: grayscale(0%);    
}

.portfolio ul{
    padding-left: 0px;
}
.portfolio li {
    display: inline-block;

}

.music-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 5%;
    color: black;
}

.music-list ul{
    padding-left: 0;
}
.music-list li {
    display: inline-block;
    text-align: center;
}

.music-icon {
    width: 80.4px;
    padding-left: 0px;
    margin-top: 10px;
    font-size: 2rem;
    color: black;
}

.music-icon  .fab {
    color:orange;
    width: 80px;
}
.music-icon:hover  .fab  {
    color:black;
}

/* marketing section */
#marketing-skills{
    min-height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100vW;
	align-items: center;
    justify-content: center;
    text-align: center;
    
}

#marketing-skills h1{
    color: #ffda61;
}


.marketing-about{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 60vw;
    color: white;
    font-size: 1.4rem;
    margin-bottom: 30px;
}

.marketing-about .submit-btn{
    margin-left: 0px;
    padding-left: 30px;
    padding-right: 30px;
}

/* my skills bars */
.skills-container {
    font-family: 'Staatliches', sans-serif;
    width: 60vw;
    margin: 2rem auto;
  }
  
 
/* skill bar */
.bar {
    position: relative;
    background-color: rgb(39, 39, 39);
    width: 100%;
    height: 35px;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
    border: none;
}
  
.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    color: #ffda61;
}
/* nametag  */
.tag {
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    height: 35px;
    background-color: orange;;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 5px 0px 0px 5px;
    text-align: left;
}
  
.tag span {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
}
/* loading  */
.load {
    background-color: #ffda61;
    width: 0;
    height: 35px;
    border-radius: 0px 5px 5px 0px;
    position: absolute;
    top: 0;
    left: 0;
  }
/* contact section */

#contact {
    background-color: #ffda61;
    width: 100vw;
}
.container-footer {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    padding: 3rem 0;
}

.text-center {
    text-align: center;
    color: black;
}

.text-black {
    color: black;
}
.contact__list {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    list-style-type: none;
}

.contact__list li:not(:last-child) {
    margin-right: 1.2rem;
}

.contact__icon {
    display: inline-block;
    width: 80.4px;
    padding: 19px 0;
    border-radius: 100%;
    border: 2px solid black;
    font-size: 2rem;
}

.fac {
    color:black;
}

.contact__icon:hover{
    display: block;
    width: 80.4px;
    padding: 19px 0;
    border-radius: 100%;
    border: 2px solid orange;
    font-size: 2rem; 
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}

.contact-form{
    text-align: center;
    justify-content: center;
    display: block;
    padding: 2%;
}
.form-field{
    position: relative;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
}

.input-text{
    width: 50vw;
    align-content: center;
    background-color: rgba(255, 166, 0, 0.705);
    display: block;
    border: none;
    border-bottom: 2px solid black;
    color: black;
    font-family: 'Montserrat';
    padding: 16px 32px;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}
.label{
    font-family: 'Staatliches', sans-serif;
}

.submit-btn {
    display: inline-block;
    background-color: orange;
    color: black;
    font-family: 'Staatliches', sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 20px 10px 20px;
    /* margin: 3%; */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
 }

 .footer{
     display: flex;
     flex-direction: column;
     align-items: center;
     color:rgb(252, 221, 119);
     background-color: black;
     font-size: small;
     text-align: center;
     height: 100px;
     font-family: 'Mntserrat', sans-serif;
     width:100vw;
	justify-content: center;
 }

.icons{
    padding-left:0px;

}

.thankyou_message{
    display:none;
    height: 100px;
    background: #ffda61;
	align-items: center;
    justify-content: center;
    vertical-align: center;
    color: black;
}

@media screen and (max-width: 900px) {

    
    .header{
        display: flex;
        height: 100%;
        width: 100vw;
        align-items: center;
        justify-content: center;
        background: #ffda61;
    }
    .container{
        height: 100%;
        perspective: 700px;
        position: relative;
        perspective-origin: 50% 50%;
        display:inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;

    }
    
    .item{
        position: absolute;
        animation-duration: 2.5s;
        animation-fill-mode: backwards;
        animation-timing-function: ease;
        z-index: 100;
        backface-visibility: hidden;
        font-size: 3rem;
        font-weight: 400;
        white-space: nowrap;
        visibility: hidden;
        border-bottom: 3px solid black;
        border-top: 3px solid black;
        transform-style: preserve-3d;
    }

    .static{
        font-size: 3rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    
    .animate{
        visibility: visible;
        animation-name: animate;
    }
    
    .inner{
        transform: translateZ(-offset);
        transform-style: preserve-3d;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    } 

    .contact__icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 40.4px;
        height: 40.4px;
        padding: 1%;
        border-radius: 100%;
        border: 2px solid black;
        font-size: 2rem;
    }
    
    .dev-icon{
        width: 75px;
    }

    .music-icon .fab {
        width: 65.4px;
        padding: .5%;
        margin-top: 10px;
        font-size: 2.5rem;
    }

    .dev-icon .fab {
        width: 65.4px;
        padding: .5%;
        margin-top: 10px;
        font-size: 2.5rem;
    }

    .portfolio-desc{
        color: black;
        font-weight: 100;
        font-size: 1.4rem;
        padding: 2% 15% 0 15%;
        margin-top:0px;

    }
    #music-contact{
        color: white;
        padding: 0% 15% 0 15%;
        margin-top:0px;
        font-size: 1.4rem;
        margin-bottom: 5%;
    }
    .music-about{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60vw;
        background-color: white;
        padding: 30px;
        box-shadow: black;
        border-radius: 10px;
    }
    .music-pic{
        height: 150;
        width: 150;
    }
    .sollabong{
        height: 275px;
        width: 275px;
        border-radius: 100%;  
    }
    .music-about-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        margin: 20px;
    }
/* menu mobile */
    .side-menu {
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        height: 60px;
        width: 60px;
        list-style-type: none;
        background: rgba(255, 255, 255, 0.87);
        overflow: hidden;
        transition: height .5s;
        font-family: 'Staatliches', sans-serif;
      }
      .side-menu i {
        color: orange;
      }
      .side-menu:hover {
        height: 300px;
      }
      
      .side-menu li {
        height: 60px;
      }
      
      .side-menu li i {
        font-size: 1rem;
        margin: 20px 30px 0 22px;
      }
      
      .side-menu li a {
        display: block;
        font-size: .9rem;
        text-decoration: none;
        color: black;
        /* height: 60px; */
      }
      
      .side-menu li a:hover,
      .side-menu li:first-child a {
        background: #14081d;
        color:white;
        display: block;
      }
}